<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">{{ site.name }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/about.html">About</a></li>
      <li><a href="{{ site.baseurl }}/list.html">List</a></li>
      <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
      <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/about.html"><h1 class="brand">{{ site.name }}</h1></a><h3>{{ site.description }}</h3></li>
    <!-- <hr /> --> <br></br>
    <li><a href="{{ site.baseurl }}/about.html">About</a></li>
    <!-- <li><a href="{{ site.baseurl }}/about.html">Resume / CV</a></li> -->
    <!-- <li><a href="{{ site.baseurl }}/about.html">Research</a></li> -->
    <li>
      <!-- <a href="{{ site.baseurl }}/{{ post.url }}"> -->
      Projects
      <!-- </a> -->
    </li>
    {% assign sorted = (site.projects | sort: 'date') | reverse %}
    <ul class="sidebar-sub">
      <li class="sidebar-subtitle">Research & Dev</li>
      {% for project in sorted %}
        {% if project.path contains 'research' %}
        <!-- <ul class="homepage-posts"> -->
          <li><a href="{{ site.baseurl }}/projects/{{ project.title }}">{{ project.title }}</a></li>
        <!-- </ul> -->
        {% endif %}
      {% endfor %}
      <!-- <li class="sidebar-subtitle">Apps</li> -->
      {% for project in sorted %}
        {% if project.path contains 'software-app' %}
        <!-- <ul class="homepage-posts"> -->
          <li><a href="{{ site.baseurl }}/projects/{{ project.title }}">{{ project.title }}</a></li>
        <!-- </ul> -->
        {% endif %}
      {% endfor %}
      <li class="sidebar-subtitle">Interaction Design</li>
      {% for project in sorted %}
        {% if project.path contains 'interaction-design' %}
        <!-- <ul class="homepage-posts"> -->
          <li><a href="{{ site.baseurl }}/projects/{{ project.title }}">{{ project.title }}</a></li>
        <!-- </ul> -->
        {% endif %}
      {% endfor %}
      <!-- Take this off temporarily -->
      <!-- <li class="sidebar-subtitle">Data Science & ML</li>
      {% for project in site.projects %}
        {% if project.path contains 'data-ml' %}
        <ul class="homepage-posts">
          <li><a href="{{ site.baseurl }}/projects/{{ project.title }}">{{ project.title }}</a></li>
        </ul>
        {% endif %}
      {% endfor %} -->
    </ul>
    <li>Fun Stuff</li>
    <ul class="sidebar-sub">
      <li><a href="{{ site.baseurl }}/calligraphy.html">Calligraphy</a></li>
    </ul>
    <!-- <li><a href="{{ site.baseurl }}/list.html">List</a></li>
    <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
    <li><a href="{{ site.baseurl }}/projects.html">Projects</a></li> -->
    <!-- <hr /> --> <br></br>
    <div id="social-wrapper">
      <li> <a href="{{ site.github }}"><i class="fa fa-github-square"></i> GitHub</a> </li>
      <li> <a href="{{ site.linkedin }}"><i class="fa fa-linkedin-square"></i> LinkedIn</a> </li>
      <!-- <li> <a href="{{ site.twitter }}"><i class="fa fa-twitter-square"></i> @twitter</a></li> -->
      <!-- <li> <a href="{{ site.facebook }}"><i class="fa fa-facebook-square"></i> facebook</a></li> -->
    </div>
  </ul>
</div>
